name: Medusa Frontend Next.js App V2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add server to known_hosts
        run: ssh-keyscan 167.235.55.201 >> ~/.ssh/known_hosts

      - name: Deploy to /home/medusa/app
        run: rsync -avz --delete ./ medusa@167.235.55.201:/home/medusa/app

      - name: Deploy to /home/medusa/plentyparts-store
        run: rsync -avz --delete ./ medusa@167.235.55.201:/home/medusa/plentyparts-store

      - name: Run post-deploy script for app + plentyparts-store
        run: ssh medusa@167.235.55.201 'bash ~/deploy-frontend.sh'